{% block table %}
{% apply spaceless %}

{% if table.available_filters|length > 0 %}
<div class="table-filters">
    <div class="row filters-available">
        <div class="col-md-3">
            <span class="filters-title">Available filters</span>
        </div>
        <div class="col-md-9">
            <div class="filters-controls">{{ block('available_filters') }}</div>
        </div>
    </div>

    {% if table.filter_form %}
    <div class="row filters-form">
        <div class="col-md-3">
            <span class="filters-title">New filter <strong>{{ table.filter_label }}</strong></span>
        </div>
        <div class="col-md-9">
            <div class="filters-controls">
                {{ form_start(table.filter_form) }}
                <input type="hidden" value="{{ table.filter_form.vars.filter_param_value }}"
                       name="{{ table.vars.name }}[{{ table.filter_form.vars.filter_param_name }}]">
                <div class="row">
                    <div class="col-md-3">{{ form_row(table.filter_form.operator) }}</div>
                    <div class="col-md-6">{{ form_row(table.filter_form.value) }}</div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <a href="#" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </div>
                {{ form_rest(table.filter_form) }}
            </div>
        </div>
    </div>
    {% endif %}

    {% if table.active_filters|length > 0 %}
    <div class="row filters-active">
        <div class="col-md-3">
            <span class="filters-title">Active filters</span>
        </div>
        <div class="col-md-9">
            <div class="filters-controls">{{ block('active_filters') }}</div>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}

<div class="table-responsive">
    {% set attr = table.vars.attr|default({}) %}
    {% set classes = attr.class|default('table table-striped table-hover') %}
    {% if options.class %}{% set classes = (classes ~ ' ' ~ options.class)|trim %}{% endif %}
    {% set attr = attr|merge({'class': classes}) %}
    <table{{ block('attributes') }}>
        {{ block('table_head') }}
        {{ block('table_body') }}
    </table>
    {# TODO table footer #}
</div>

{% if table.pager.nbPages > 1 %}
<div class="table-pager">
    {{ ekyna_table_pager(table) }}
</div>
{% endif %}

{% endapply %}
{% endblock table %}


{% block available_filters %}
{% for filter in table.available_filters %}
<a href="{{ filter.vars.add_filter_href }}"
   class="btn btn-xs btn-primary">
    {{ filter.vars.label }}
    <span class="glyphicon glyphicon-plus-sign"></span>
</a>
{% endfor %}
{% endblock available_filters %}


{% block active_filters %}
{% for filter in table.active_filters %}
<a href="{{ filter.vars.remove_filter_href }}"
   class="btn btn-xs btn-success">
    <strong>{{ filter.vars.field }}</strong>&nbsp;
    {{ filter.vars.operator }}&nbsp;
    &laquo;&nbsp;{{ block('active_filter_value') }}&nbsp;&raquo;
    <span class="glyphicon glyphicon-minus-sign"></span>
</a>
{% endfor %}
{% endblock %}


{% block active_filter_value %}
{% if filter.vars.value is iterable -%}
    {% for val in filter.vars.value -%}
        {{- val }}{% if not loop.last %}, {% endif -%}
    {%- endfor %}
{%- else -%}
    {{- filter.vars.value }}
{%- endif %}
{% endblock active_filter_value %}


{% block table_head %}
{% apply spaceless %}
<thead>
    <tr>
    {% if table.ui.select %}
        <th>
            {%- if table.ui.select.multiple -%}
            <input type="checkbox" id="{{ table.vars.name }}_toggle_all" class="table-select-toggle">
            {%- endif -%}
        </th>
    {% endif %}
    {% for head in table.heads %}
        {% set attr = head.vars.attr %}
        <th{{ block('attributes') }} title="{{ block('table_head_column_label') }}">
            {% if head.vars.sort_link %}
                <a href="{{ head.vars.sort_link.href }}" class="{{ head.vars.sort_link.dir }}">
                    {{- block('table_head_column_label') -}}
                </a>
            {% else %}
                {{- block('table_head_column_label') -}}
            {% endif %}
        </th>
    {% endfor %}
    </tr>
</thead>
{% endapply %}
{% endblock table_head %}

{%- block table_head_column_label -%}
    {{ head.vars.label }}
{%- endblock table_head_column_label -%}


{% block table_body %}
{% apply spaceless %}
<tbody>
{% if table.rows|length > 0 %}
{% for row in table.rows %}
    {{ block('table_row') }}
{% endfor %}
{% else %}
    <tr>
        <td colspan="{% if table.ui.select %}
            {{ table.heads|length + 1 }}
        {% else %}
            {{ table.heads|length }}
        {% endif %}">
            <p class="text-center"><em>No result</em></p>
        </td>
    </tr>
{% endif %}
</tbody>
{% endapply %}
{% endblock table_body %}


{% block table_row %}
{% apply spaceless %}
{% set attr = row.vars.attr|default({})|merge({
    'id': table.vars.name ~ '_row_' ~ row.identifier,
    'data-id': row.identifier
}) %}
<tr{{ block('attributes') }}>
    {% if table.ui.select %}
    <td class="selector">
        <input type="{{ table.ui.select.multiple ? 'checkbox' : 'radio' }}"
               name="{{ table.ui.select.name }}"
               value="{{ row.identifier }}"
               {% if row.selected %} checked="checked"{% endif %}>
    </td>
    {% endif %}
    {% for cell in row.cells %}
    {% set attr = cell.vars.attr %}
    <td{{ block('attributes') }}>
        {{ ekyna_table_cell(cell) }}
    </td>
    {% endfor %}
</tr>
{% endapply %}
{% endblock table_row %}


{# CELLS #}
{%- block property_cell %}{{ value }}{% endblock property_cell -%}


{%- block text_cell %}{{ value|raw }}{% endblock text_cell -%}


{%- block number_cell -%}
    {{- value|number_format(precision) -}}
    {%- if append is not same as (null) %}&nbsp;{{ append }}{% endif -%}
{%- endblock number_cell -%}


{%- block boolean_cell -%}
    {%- if route is not same as(null) -%}
        <a href="{{ path(route, parameters) }}" class="label {{ class }}">{{ block('boolean_cell_value') }}</a>
    {%- else -%}
        <span class="label {{ class }}">{{ block('boolean_cell_value') }}</span>
    {%- endif -%}
{%- endblock boolean_cell -%}

{%- block boolean_cell_value %}{{ label }}{% endblock boolean_cell_value -%}


{%- block choice_cell %}
    {%- for choice in value -%}
        {%- if not loop.first -%}
            {{- loop.revindex0 == 1 ? ' and ' : ', ' -}}
        {%- endif -%}
        {{- block('choice_cell_value') -}}
    {%- endfor %}
{% endblock choice_cell -%}

{%- block choice_cell_value -%}
    {%- if choice.label is defined %}{{ choice.label|raw }}{% else %}{{ choice.value }}{% endif -%}
{%- endblock choice_cell_value -%}


{%- block date_time_cell -%}
    {%- if value is same as(null) -%}
        &nbsp;
    {%- else -%}
        {{- value|localizeddate(date_format, time_format) -}}
    {%- endif -%}
{%- endblock date_time_cell -%}


{# COMMONS #}
{%- block attributes -%}
{%- for attrname, attrvalue in attr -%}
    {{- " " -}}
    {%- if attrvalue is not same as(false) -%}
        {{- attrname }}="{{ attrvalue }}"
    {%- endif -%}
{%- endfor -%}
{%- endblock attributes -%}
